$roundedness: 5px;


.board-header {
  margin: 0;
  border-bottom: 1px solid #CCC;
  h1 {
    display: inline-block;
    font-size: 20px;
    margin: 5px 0;
  }
}

.board-header-inner {
  padding: 0px 20px;
}

#board-search {
  margin-top:-5px;
  margin-left: 20px;
  @include transition(width 0.25s ease-in-out);
}

.board-dropzone {
  // background: #998;
  background: darken($purple, 20%);
  display: block;
  width: 100%;
  overflow-x: hidden;
  // possible non-javascript solution
  // height: 100%;
  // overflow-y: hidden;
}

.board-dropzone-inner {
  padding: 10px;
  width: 1000%;
  height: 92%;
  position: relative;

  // @include translate3d(-500px, 0, 0);
  // @include transition(all 0.15s linear);
}

.column {
  // background: #4A4A4A;
  background: #E2DFDF;
  border: 1px solid #CCC;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #000;
  float: left;
  min-height: 115px;
  padding-bottom:10px;
  // height: 100%;
  // height: 400px;
  margin: 0 5px;
  width: 350px;
  min-width: 75px;
  position: relative;
  // max-height:100%;
  // overflow: auto;

  @include border-radius($roundedness);
}

.column:first-child {
  margin-left: 0px;
}

.column-header {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px 15px;
}

.column-body {
  // max-height: 100%;
  overflow: auto;
  // max-height: 800px;
}

.card-wrapper {
  color: #333;
  &:visited {
    color: #333;
  }
  &:hover {
    text-decoration: none;
    color: #111;
    .card {
      border: 1px solid mix(lighten($orange, 10%), #333, 50%);
    }
  }
}

.card {
  min-height: 50px;
  background: #FFF;
  margin: 5px;
  border: 1px solid #BAB8B8;
  border-bottom: 1px solid #9E9E9E;
  overflow-x: hidden;

  @include border-radius($roundedness);
}

.card-header {
  display: inline;
  background: $purple;
  color: #FFF;
  padding: 2px;
  font-size: 11px;
  float: right;
}

.card-body {
  padding: 5px;
  position: relative;
}

.card-content {
  // width: 80%;
}

.card-hang-right {
  // background: $purple;
  width: 65px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.card-footer {
  font-size:10px;
  margin-top: 5px;
  // background: #F4F2F2;
  // border-top: 1px solid #E0DDDD;
}
