@import "compass";
@import "appvariables";

.fancy-scroll-background {
  width: 99%;
  margin: 0 0.5%;
  background: darken($purple, 25%);
  height: 12px;
  position: absolute;
  bottom: 10px;

  cursor: pointer;
  @include border-radius(30px);
}

.fancy-scroll-background.hidden {
  display: none;
}

.fancy-scroll-inner {
  height: 100%;
  position: relative;
  // width: 200px;
  background: darken($purple, 13%);
  @include border-radius(30px);
  &:hover {
    background: darken($purple, 6%);
  }
  @include transition(all 0.1s linear)
}