@import "compass";

@import "compass_twitter_bootstrap/mixins";
@import "compass_twitter_bootstrap_responsive";
@import "appvariables";
@import "horizontallyResizable";
@import "fancyscroll";
@import "myboards";
@import "board";

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   cursor: ew-resize;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.no-show-btn {
  width:0;
  height:0;
  padding:0;
  margin:0;
  overflow:hidden;
  border:0;
  display:block;
}

.myng-view-wrapper {
  width: 100%;
  height: 100%;
}

.myng-view {
  // height:100%;
  padding-top:41px;
  // overflow: hidden;
}

.navbar-static-top {
  position: fixed !important;
  width: 100%;
  z-index: 5;
}

#product-component-switcher {
  background: darken($purple, 10%);
  color: lighten($purple, 20%);
  border: none;
  width: 300px;
  // border-color: lighten($purple, 15%);
  margin: 5px 20px 0 20px;
}

#s2id_product-component-switcher {
  margin-top:5px;
  width: 300px;
  margin: 5px 20px 0 20px;
}