// @import "compass_twitter_bootstrap";
@import "compass";

@import "compass_twitter_bootstrap/mixins";
@import "compass_twitter_bootstrap_responsive";
@import "appvariables";
@import "horizontallyResizable";
@import "fancyscroll";
@import "myboards";
@import "board";

html, body {
  width: 100%;
  height: 100%;
  // overflow-y: hidden;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   cursor: ew-resize;
}

.no-show-btn {
  width:0;
  height:0;
  padding:0;
  margin:0;
  overflow:hidden;
  border:0;
  display:block;
}

.myng-view-wrapper {
  width: 100%;
  height: 100%;
}

.myng-view {
  // height:100%;
  padding-top:41px;
  // overflow: hidden;
}

.navbar-static-top {
  position: fixed;
  width: 100%;
}

#product-component-switcher {
  background: darken($purple, 10%);
  color: lighten($purple, 20%);
  border: none;
  width: 300px;
  // border-color: lighten($purple, 15%);
  margin: 5px 20px 0 20px;
}

#s2id_product-component-switcher {
  margin-top:5px;
  width: 300px;
  margin: 5px 20px 0 20px;
}