@import "appvariables";

.product-listing {
  font-weight: bold;
  list-style-type: none;
  background: #ebebeb;
  margin: 20px 0;
  padding: 15px;
}

.product-listing-title {
  font-size: 16px;
  margin-left: 20px;
  color: darken($purple, 7%);
  cursor: pointer;
}

.board-listing {
  padding-left: 0;
  margin-left: 0;
}

.components-listing {
  margin-top:10px;
  margin-left:50px;
  display:none;
}

.components-listing.visible {
  display: block;
}