<div class="board-header">
  <div class="board-header-inner">
    <h1>Board Name</h1>
    <input type="text" id="board-search" class="input-medium search-query" placeholder="Search...">
  </div>
</div>

<div class="board-dropzone" auto-fill-height>
  <div class="board-dropzone-inner">
    <div class="column">
      <div class="column-header">
        Todo
      </div>
    </div>
    <div class="column">
      <div class="column-header">
        Doing
      </div>
    </div>
    <div class="column">
      <div class="column-header">
        Done
      </div>
    </div>
    <div class="column">
      <div class="column-header">
        Extra #1
      </div>
    </div>
    <div class="column">
      <div class="column-header">
        Extra #2
      </div>
    </div>
    <div class="column">
      <div class="column-header">
        Extra #3
      </div>
    </div>
    <div class="column">
      <div class="column-header">
        Extra #4
      </div>
    </div>
  </div>
</div>
